$('#question_form').remove();
$('#question-js').show();
$('#questions-list').append('<li class="list-group-item"><strong><%= @question.content %></strong> <span class="pull-right"><%= link_to "Add Answer", new_question_answer_path(@question), :class => "btn btn-info btn-sm", :id => @question.id.to_s + "-js", remote: true %></span>  <br><br><br><br></li>');
