<h1>question Page</h1>
<hr>
<ul class="list-group well" id="questions-list">
  <% @questions.each do |question| %>
    <li class="list-group-item"><strong><%= question.content %></strong>
      <span class="pull-right">
        <%= link_to "Add Answer", new_question_answer_path(question), :class => "btn btn-info btn-sm", :id => question.id.to_s + "-js", remote: true %>
      </span>
      <br><br><br><br>
    </li>
  <% end %>
</ul>
<hr>
<%= link_to "Add a question", new_question_path, :class => "btn-lg", :id => 'question-js', remote: true %>
