/*
*= require_self
*= require animate
*/
@import "bootstrap-sprockets";
@import "bootstrap";

.answerInline {
  display: inline-block;
  margin: 5px;
}

.question-li {
  min-height: 450px;
}
.center-question {
  margin-top: 50px;
  text-align: center;
}

.inline {
  display: inline-block;
}

.aligned-comments {
  min-height: 710px;
}
